<div class="sch-b-content--default">
  <h1><%= message.name %></h1>

  <div class="sch-b_message <%= message.type||'' %>">
    <%- message.content %>
  </div>

  <% if (message.links) {%>
  <div class="sch-b_content-link-blocks">
    <% for (link of message.links) {%>
      <a class="sch-e_content-link-block" href="<%= link.url %>"><%= link.name %></a>
    <%}%>
  </div>
  <%}%>
</div>
