<div class="sch-b-content--default">
  <h1><%= data.name %></h1>

  <div class="sch-b_user-profile">
      <div class="sch-b_name-value-table">
          <!-- -->
          <div class="table-item">
            <div class="item-name">
              Event name
            </div>
            <div class="item-value">
              <%= data.name %>
            </div>
          </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event start date
          </div>
          <div class="item-value">
            <%= data.startDate %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event end date
          </div>
          <div class="item-value">
            <%= data.endDate %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event planner (owner)
          </div>
          <div class="item-value">
            <%= data.owner.name %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event team
          </div>
          <div class="item-value">
            <% for (member of data.team) { %>
              <%= member.name %><br>
            <%}%>
          </div>
        </div>
        <!-- -->
      </div>
  </div>
</div>
