<% var event = data %>
<div class="sch-b-content--default">
  <h1><%= event.name %></h1>
      <div class="sch-b_name-value-table">
          <!-- -->
          <div class="table-item">
            <div class="item-name">
              Event name
            </div>
            <div class="item-value">
              <%= event.name %>
            </div>
          </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event start date
          </div>
          <div class="item-value">
            <%= event.startDate %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event end date
          </div>
          <div class="item-value">
            <%= event.endDate %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event planner (owner)
          </div>
          <div class="item-value">
            <a class="sch-e_taglink" href="/user/<%= event.owner.id%>"><%= event.owner.name %></a> <br>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event team
          </div>
          <div class="item-value">
            <% for (member of event.team) { %>
              <a class="sch-e_taglink" href="/user/<%= member.id%>"><%= member.name %></a>
            <%}%>
            <% if (event.isOwnedByCurrentUser(req)) { %>
              <a class="sch-e_taglink mod-green" href="<%=req.path%>/team/adduser">+</a>
            <%}%>
          </div>
        </div>
        <!-- -->
      </div>
      <% if (event.isOwnedByCurrentUser(req)) { %>
      <%- partial('../partials/links.ejs',{
        links : [
          {
            name:'Change event',
            url:`${req.path}/update`
          },
          {
            name: 'Delete event',
            url:`${req.path}/delete`
          }
       ]
      })%>
    <%}%>
</div>
