<div class="sch-b-content--default">
  <h1><%= data.name %></h1>
      <div class="sch-b_name-value-table">
          <!-- -->
          <div class="table-item">
            <div class="item-name">
              Event name
            </div>
            <div class="item-value">
              <%= data.name %>
            </div>
          </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event start date
          </div>
          <div class="item-value">
            <%= data.startDate %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event end date
          </div>
          <div class="item-value">
            <%= data.endDate %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event planner (owner)
          </div>
          <div class="item-value">
            <%= data.owner.name %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Event team
          </div>
          <div class="item-value">
            <% for (member of data.team) { %>
            <a href="/user/<%= member.id%>"><%= member.name %></a> <br>
            <%}%>
          </div>
        </div>
        <!-- -->
      </div>
      <% if (permissions.isEventOwner(req, data.owner.id)) { %>
      <%- partial('../partials/links.ejs',{
        links : [
        {
          name:'Change event',
          url:`${req.path}/update`
        }
       ]
      })%>
    <%}%>
</div>
