<% var track = data %>
<div class="sch-b-content--default">
  <h1><%= track.name %></h1>
      <div class="sch-b_name-value-table">
          <!-- -->
          <div class="table-item">
            <div class="item-name">
              Track name
            </div>
            <div class="item-value">
              <%= track.name %>
            </div>
          </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Track start date
          </div>
          <div class="item-value">
            <%= track.startDate %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Track end date
          </div>
          <div class="item-value">
            <%= track.endDate %>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <div class="table-item">
          <div class="item-name">
            Track talks
          </div>
          <div class="item-value">
            <% for (talk of track.talks) { %>
              <a class="sch-e_taglink" href="<%=req.path%>/talk/<%= talk.id%>"><%= talk.name %></a>
            <%}%>
            <% if (track.isOwnedByCurrentUser(req)) { %>
              <a class="sch-e_taglink mod-green" href="<%=req.path%>/talk/create">+</a>
            <%}%>
          </div>
        </div>
        <!-- -->
      </div>
      <% if (track.isOwnedByCurrentUser(req)) { %>
      <%- partial('../partials/links.ejs',{
        links : [
          {
            name:'Change track',
            url:`${req.path}/update`
          },
          {
            name: 'Delete track',
            url:`${req.path}/delete`
          }
       ]
      })%>
    <%}%>
</div>
